html body {
  width: 100%; }

#wrapper {
  width: 100%; }

::placeholder {
  color: #555A59;
  font-size: 1em;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #555A59; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #555A59; }

input[type=text], input[type=password], input[type=email], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: none;
  border-bottom: 1px solid #DDDDDD; }

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus {
  border-bottom: 1px solid #01A48F; }

.hr-black {
  border-color: rgba(0, 0, 0, 0.5); }

.hr-white {
  border-color: rgba(255, 255, 255, 0.5); }

.x-icon {
  height: 20px;
  float: right; }

/************************
	BUTTONS
*************************/
.yellow-button {
  background-color: #E6B438;
  border-radius: 50px;
  font-weight: bold;
  color: black !important;
  margin-bottom: 20px; }
  .yellow-button:hover {
    background-color: #FCE188; }

.white-button {
  background-color: white;
  border-radius: 50px;
  font-weight: bold;
  color: gray !important;
  margin-bottom: 20px; }
  .white-button:hover {
    background-color: gray;
    color: white !important; }

.twitter-button {
  background-color: #6A8FCE;
  border-radius: 50px;
  font-weight: bold;
  color: white !important; }
  .twitter-button:hover {
    background-color: #62779B;
    color: white; }

.fb-button {
  background-color: #0064ED;
  border-radius: 50px;
  font-weight: bold;
  color: white !important; }
  .fb-button:hover {
    background-color: #224786;
    color: white; }

.ln-button {
  background-color: #63A7FF;
  border-radius: 50px;
  font-weight: bold;
  color: white !important; }
  .ln-button:hover {
    background-color: gray;
    color: white; }

.whiteborder-button {
  background-color: white;
  border-radius: 50px;
  font-weight: bold;
  color: gray !important;
  margin-bottom: 20px;
  border: 1px solid #D8D8D8; }
  .whiteborder-button:hover {
    background-color: gray;
    color: white !important; }

.small-button {
  padding: 3px 10px;
  font-size: 11px; }

.social-button {
  padding: 3px 20px;
  font-size: 12px; }

.card-button {
  margin-top: 20px;
  padding: 3px 30px;
  font-size: 11px; }

.large-button {
  padding: 10px 30px;
  font-size: 14px; }

/*** HEADER STYLES ****/
header {
  padding: 10px;
  height: 50px; }

.header-logo {
  height: 35px;
  float: left; }

.list-item:hover {
  padding-bottom: 10px;
  border-bottom: 2px solid #FAC74C; }

.list-btn {
  float: right; }

@media screen and (min-width: 1187px) {
  .nav-img {
    display: none; } }
@media screen and (max-width: 1187px) {
  div.header-menu-list {
    display: none !important; }

  .nav-img {
    float: right;
    margin-left: 10px; } }
/*** FOOTER STYLES ****/
footer {
  padding: 6em;
  background: #CCEBED; }
  footer p {
    font-size: 12px; }

.footer-list {
  list-style-type: none;
  display: block;
  margin-bottom: 5em;
  font-size: 12px;
  color: #555A59; }
  .footer-list li {
    margin-bottom: 10px; }
    .footer-list li a {
      color: #555A59; }

/**********************************
	HOME PAGE
**********************************/
.homebg-cont {
  background: url("../img/homebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 100%;
  text-align: center; }
  .homebg-cont h1 {
    margin-top: 3em;
    color: white;
    font-size: 4em; }
  .homebg-cont p {
    color: white;
    font-size: 1.2em; }
  .homebg-cont .header-menu-list {
    margin-left: 10em;
    list-style-type: none;
    display: inline-block;
    float: left;
    letter-spacing: 1px;
    font-weight: lighter; }
    .homebg-cont .header-menu-list li {
      float: left;
      margin: 0 2em; }
      .homebg-cont .header-menu-list li a {
        color: white;
        text-decoration: none;
        font-size: 10px; }

.vision {
  padding: 6em 6em; }
  .vision h1 {
    font-size: 3em;
    color: #555A59;
    font-weight: bolder; }
    .vision h1 span {
      color: #00A490; }

.what-we-do {
  padding: 6em 6em;
  background-color: #F9C929;
  color: #555A59; }
  .what-we-do p {
    font-size: 1.2em;
    margin-bottom: 4em;
    letter-spacing: 0.5; }
  .what-we-do h2 {
    font-size: 2em; }

.pillar {
  text-align: center; }

.pillar-icon {
  margin-bottom: 20px;
  height: 15em;
  -webkit-filter: drop-shadow(-15px 26px 33px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(-15px 26px 33px rgba(0, 0, 0, 0.4)); }

.articles-cont {
  padding: 4em 6em;
  color: #555A59; }
  .articles-cont h2 {
    font-size: 2em; }

.article-card {
  background: white;
  padding: 2em;
  width: 95%;
  margin-left: 2.5%;
  color: #555A59;
  margin-bottom: 20px;
  text-align: center;
  -webkit-box-shadow: -1px 46px 108px -19px #787878;
  -moz-box-shadow: -1px 46px 108px -19px #787878;
  box-shadow: -1px 46px 108px -19px #787878; }
  .article-card h5 {
    text-align: left; }
  .article-card p {
    margin-top: 20px;
    text-align: left;
    font-size: 12px; }

.subscribe-newsletter {
  padding: 6em 6em;
  margin-top: 40px;
  color: #555A59; }

.subscribe-input {
  width: 50%;
  font-size: 1em; }

/**********************************
	ABOUT PAGE
**********************************/
.about-cont {
  width: 100%; }
  .about-cont .header-menu-list {
    margin-left: 10em;
    list-style-type: none;
    display: inline-block;
    float: left;
    letter-spacing: 1px;
    font-weight: lighter; }
    .about-cont .header-menu-list li {
      float: left;
      margin: 0 2em; }
      .about-cont .header-menu-list li a {
        color: black;
        text-decoration: none;
        font-size: 10px; }

.about-us {
  padding: 6em;
  color: #555A59; }
  .about-us h1 {
    font-size: 3em; }

.aboutbg {
  width: 100%; }

.how-it-started {
  padding: 6em;
  color: #555A59; }
  .how-it-started h2 {
    margin-bottom: 2em; }

.team {
  padding: 0 6em 6em 6em;
  color: #555A59; }
  .team h1 {
    margin-bottom: 1em; }

.leader-details {
  font-size: 10px; }
  .leader-details h4 {
    padding-top: 10px;
    font-size: 1.5em;
    font-weight: bolder; }
  .leader-details p {
    font-size: 15px;
    margin-bottom: 10px; }

.side-quote {
  padding: 20px 80px 0 40px;
  color: rgba(0, 0, 0, 0.25); }

.leaders-list {
  text-align: center; }
  .leaders-list img {
    height: 150px; }

.experts {
  padding: 0 6em 6em 6em;
  color: #555A59; }

.expert-card {
  margin: 1em 0; }

.expert-details {
  padding: 3em;
  font-size: 10px; }
  .expert-details h4 {
    font-size: 1.5em;
    margin-bottom: 0;
    font-weight: bolder; }
  .expert-details p {
    font-size: 15px;
    margin-bottom: 0; }

.company-values {
  padding: 6em 6em 2em 6em;
  background-color: #01A48F; }
  .company-values h2 {
    color: white; }

.company-values-card {
  width: 95%;
  margin-left: 2.5%;
  background: white;
  padding: 2em;
  margin-bottom: 20px;
  color: #555A59; }
  .company-values-card h3 {
    font-size: 1.2em; }
  .company-values-card p {
    font-size: 0.8em; }

.company-values-cont {
  background-color: #01A48F; }

/**********************************
	SCIENCE PAGE
**********************************/
.science-cont-mobile {
  display: none; }

.science-cont {
  background: url("../img/sciencebgdesktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 100%;
  text-align: center; }
  .science-cont h1 {
    margin-top: 3em;
    color: white;
    font-size: 4em; }
  .science-cont p {
    color: white;
    font-size: 1.2em; }
  .science-cont .header-menu-list {
    margin-left: 10em;
    list-style-type: none;
    display: inline-block;
    float: left;
    letter-spacing: 1px;
    font-weight: lighter; }
    .science-cont .header-menu-list li {
      float: left;
      margin: 0 2em; }
      .science-cont .header-menu-list li a {
        color: white;
        text-decoration: none;
        font-size: 10px; }
    .science-cont .header-menu-list .list-item:hover {
      color: rgba(255, 255, 255, 0.75);
      padding-bottom: 10px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.75); }

.science-bg {
  padding: 6em;
  text-align: left;
  color: white; }
  .science-bg h1 {
    margin-top: 30px; }

.what-science {
  padding: 6em;
  color: #555A59; }
  .what-science h2 {
    margin-bottom: 40px; }

.science-facts {
  padding: 6em;
  background: #01A48F;
  color: rgba(255, 255, 255, 0.85); }
  .science-facts h2 {
    padding: 0 15px;
    margin-bottom: 40px; }
  .science-facts div p {
    font-weight: lighter; }

.science-articles {
  padding: 6em;
  color: #555A59; }

.article-card {
  background-color: white; }

.science-article-cont {
  background-color: #EAEAEA;
  padding-bottom: 4em; }

.blog-landing {
  padding: 6em;
  color: #555A59; }
  .blog-landing h2 {
    font-size: 3em; }

.blogpost {
  width: 95%;
  margin-left: 2.5%; }
  .blogpost h5 {
    margin-top: 20px;
    font-size: 1em;
    font-weight: bolder; }
  .blogpost h5 a {
    color: black !important; }
  .blogpost p {
    font-size: 14px;
    color: #555A59; }
  .blogpost .postimg {
    width: 100%; }

@media screen and (max-width: 500px) {
  .vision {
    padding: 40px 20px !important; }

  .what-we-do {
    padding: 40px 20px !important; }

  .articles-cont {
    padding: 40px 20px !important; }

  .subscribe-newsletter {
    padding: 40px 20px !important; }

  .about-us {
    padding: 40px 20px !important; }

  .how-it-started {
    padding: 40px 20px !important; }

  .team {
    padding: 40px 20px !important; }

  .experts {
    padding: 40px 20px !important; }

  .company-values {
    padding: 40px 20px !important; }

  .what-science {
    padding: 40px 20px !important; }

  .science-facts {
    padding: 40px 20px !important; }

  .science-bg {
    padding: 40px 20px !important; }

  .blog-landing {
    padding: 40px 20px !important; }
    .blog-landing h2 {
      font-size: 2em !important; }

  footer {
    padding: 40px 20px !important; }

  .subscribe-input {
    width: 100%;
    margin-bottom: 10px; }

  .science-cont {
    display: none !important; }

  .science-cont-mobile {
    background: url("../img/sciencebgmobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    width: 100%;
    text-align: center; }
    .science-cont-mobile h1 {
      margin-top: 3em;
      color: white;
      font-size: 2em; }
    .science-cont-mobile p {
      color: white;
      font-size: 1.2em; }
    .science-cont-mobile .header-menu-list {
      margin-left: 10em;
      list-style-type: none;
      display: inline-block;
      float: left;
      letter-spacing: 1px;
      font-weight: lighter; }
      .science-cont-mobile .header-menu-list li {
        float: left;
        margin: 0 2em; }
        .science-cont-mobile .header-menu-list li a {
          color: white;
          text-decoration: none;
          font-size: 10px; }

  .newsletter-h1 {
    font-size: 20px; } }

/*# sourceMappingURL=main.css.map */
