html body {
	width: 100%;
	height: 100%;
}
#wrapper {
	width: 100%;
	height: 100%;
}
#sidebar-wrapper {
	background: white !important;
}
label {
	font-size: 12px;
	font-weight: bold;
}
::placeholder {
    color: #555A59;
    font-size: 1em;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #555A59;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #555A59;
}
input[type=text], input[type=password], input[type=email], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: none;
  border-bottom: 1px solid #DDDDDD;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus {
  border-bottom: 1px solid #01A48F;  
}
.hr-black {
	border-color: rgba(0,0,0,.5);
}
.hr-white {
	border-color: rgba(255,255,255,.5);
}
.x-icon {
	height: 20px;
	float: right;
}
.footer-icons {
	height: 20px;
}
.display-none {
	display: none;
}
.sidebar-list a {
    text-align: right;
    font-size: 3.250em;
    margin-top: 30px;
    color: #555A59 !important;
    &:hover {
    	color: black !important;
    	text-decoration: underline !important;
    }
}
.sidebar-small-list a {
    text-align: right;
    font-size: 1.250em;
    margin-top: 20px;
    font-weight: 700;
    color: #555A59 !important;
    &:hover {
    	color: black !important;
    	text-decoration: underline !important;
    }
}

/************************
	BUTTONS
*************************/
.yellow-button {
	background-color: #E6B438;
    border-radius: 50px;
    font-weight: bold;
    color: black !important;
    margin-bottom: 20px;
    &:hover {
    	background-color: #FCE188;
    }
}
.green-button {
	background-color: #01A48F;
	width: 100%;
    border-radius: 50px;
    font-weight: bold;
    color: white !important;
    margin-bottom: 20px;
    &:hover {
    	background-color: #5FD2C2;
    }
}
.white-button {
	background-color: white;
    border-radius: 50px;
    font-weight: bold;
    color: gray !important;
    margin-bottom: 20px;
    &:hover {
    	background-color: gray;
    	color: white !important;
    }
}
.index-landing-button {
	width: 280px;
  	height: 58.97px;
  	font-size: 1em !important;
  	padding: 17px 30px !important;
}
.twitter-button {
	background-color: #6A8FCE;
    border-radius: 50px;
    font-weight: lighter;
    color: white !important;
    padding: 7px 45px !important;
    &:hover {
    	background-color: #63A7FF;
    	color: white;
    }
}
.fb-button {
	background-color: #62779B;
    border-radius: 50px;
    font-weight: lighter;
    color: white !important;
    &:hover {
    	background-color: #009FE5;
    	color: white;
    }
}
.ln-button {
	background-color: #224786;
    border-radius: 50px;
    font-weight: lighter;
    color: white !important;
    padding: 7px 42px !important;
    &:hover {
    	background-color: gray;
    	color: white;
    }
}
.whiteborder-button {
	background-color: white;
    border-radius: 50px;
    font-weight: bold;
    color: gray !important;
    margin-bottom: 20px;
    border: 1px solid #D8D8D8;
    &:hover {
    	background-color: gray;
    	color: white !important;
    }
}
.small-button {
	padding: 3px 10px;
	font-size: 11px;
}
.social-button {
	padding: 7px 40px;
	font-size: 12px;
}
.card-button {
	margin-top: 20px;
    padding: 9px 59px;
    font-size: 11px;
    width: 100%;
}
.large-button {
	padding: 10px 30px;
	font-size: 14px;
}
/*** HEADER STYLES ****/
header {
	width: 100%;
	position: fixed;
	padding: 10px;
	height: 50px;
	z-index: 200;
	box-sizing: border-box;
}
.header-logo {
	height: 35px;
	float: left;
}
.list-item:hover {
	font-weight: bolder !important;
	padding-bottom: 13px;
	border-bottom: 2px solid #FAC74C;
}
.list-btn {
	margin-top: 3px;
	float: right;
}
@media screen and (min-width: 1187px) {
	.nav-img {
		display: none;
	}
}
@media screen and (max-width: 1187px) {
    div.header-menu-list {
    	display: none !important;
    }
    .nav-img {
    	float: right;
    	margin-left: 10px;
    }
}
/*** FOOTER STYLES ****/
footer {
	padding: 152px 140px;
	background: #CCEBED;

	p {
		font-size: 0.625em;
	}
}
.footer-list {
	list-style-type: none;
	display: block;
	margin-bottom: 5em;
	font-size: 0.875em;
	color: #555A59; 

	li {
		margin-bottom: 10px;
		a {
			color: #555A59;
		}
	}
}

/**********************************
	HOME PAGE
**********************************/
.index-header {
	background-color: #009D8F;
}
.white-header {
	background-color: white;
}
.science-header {
	background-color: black;
}
.header-menu-list { 
	margin-top: 3px;
}
.homebg-cont {
	background: url("../img/homebg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: inline-block;
	min-height: 55vw;
	width: 100%;
	text-align: center;
	h1 {
		margin-top: 3em;
		color: white;
		font-size: 4.750em;
		font-weight: 700;
	}
	p {
		color: white;
		font-size: 2.500em;
	}
	.header-menu-list {
		margin-left: 10em;
		list-style-type: none;
		display: inline-block;
		float: left;
		letter-spacing: 1px;
		font-weight: lighter;
		li {
			float: left;
			margin: 0 2em;
			a {
				color: white;
				text-decoration: none;
				font-size: 0.938em;
			}
		}
	}
}
.vision {
	padding: 196px 140px !important;
	h1 {
		font-size: 5em;
		color: #555A59;
		font-weight: bolder;
		span {
			color: #00A490;
		}
	}
}
.what-we-do {
	padding: 152px 140px;
	background-color: #F9C929;
	color: #555A59;
	p {
		font-size: 1.750em;
		margin-bottom: 4em;
		letter-spacing: 0.5;
	}
	h2 {
		font-size: 3.250em;
		font-weight: 700;
	}
}
.pillar {
	text-align: center;
}
.pillar-icon {
	margin-bottom: 20px;
	height: 15em;
	-webkit-filter: drop-shadow(-15px 26px 33px rgba(0, 0, 0, 0.4));
  	filter: drop-shadow(-15px 26px 33px rgba(0, 0, 0, 0.4));
}
.pillar-text {
	font-weight: bolder;
	font-size: 1.5em !important;
	padding-top: 1.750em;
}
.articles-cont {
	padding: 152px 140px;
	color: #555A59;
	h2 {
		font-size: 3.250em;
		font-weight: 700;
	}
}
.article-card {
	background: white;
	padding: 2em;
	width: 95%;
	margin-left: 2.5%;
	color: #555A59;
	margin-bottom: 20px;
	text-align: center;
	-webkit-box-shadow: -1px 46px 108px -19px rgba(120,120,120,1);
	-moz-box-shadow: -1px 46px 108px -19px rgba(120,120,120,1);
	box-shadow: -1px 46px 108px -19px rgba(120,120,120,1);

	h5 {
		text-align: left;
		font-size: 1.750em;
		font-weight: 700;
	}
	p {
		margin-top: 0.875em;
		text-align: left;
		font-size: 12px;
	}
}
.subscribe-newsletter {
	padding: 152px 140px;
	margin-top: 40px;
	color: #555A59;
}
.newsletter-h1 {
	font-size: 3.250em;
	margin-bottom: 20px;
	font-weight: 700;
}
.subscribe-input {
	width: 60%;
	font-size: 1em;
}
.contact-input {
	width: 100%;
	font-size: 1em;
}

/**********************************
	ABOUT PAGE
**********************************/
.whitepages-cont {
	width: 100%;
	background-color: white;
	.header-menu-list {
		margin-left: 10em;
		list-style-type: none;
		display: inline-block;
		float: left;
		letter-spacing: 1px;
		font-weight: lighter;
		li {
			float: left;
			margin: 0 2em;
			a {
				color: black;
				text-decoration: none;
				font-size: 0.938em;
			}
		}
	}
}
.page-title {
	padding: 6em 140px;
	color: #555A59;
	h1 {
		font-size: 4.750em;
		font-weight: 700;
	}
	p {
		font-size: 1.250em;
		font-weight: bold;
	}
}
.aboutbg {
	width: 100%;
}
.how-it-started {
	padding: 6em 140px;
	color: #555A59;
	h2 {
		margin-bottom: 1em;
		font-size: 3.250em;
		font-weight: 700;
	}
	p {
		font-size: 1.250em;
	}
}
.team {
	padding: 0 140px 6em 140px;
	color: #555A59;
	h1 {
		font-size: 3.250em;
		margin-bottom: 1em;
		font-weight: 700;
	}
	h5 {
		font-size: 1.750em;
		font-weight: 700;
	}
	p {
		font-size: 0.875em;
		font-weight: 700;
	}
}
.leader-details {
	font-size: 0.625em;
	h4 {
		padding-top: 10px;
		font-size: 1.250em;
		font-weight: 400;
		margin-bottom: 5px !important;
	}
	p {
		font-size: 0.875em;
		margin-bottom: 10px;
		font-weight: 400;
		margin-bottom: 5px !important;
	}
}
.side-quote {
	padding: 20px 80px 0 40px;
	color: rgba(0, 0, 0, 0.25);
	font-size: 1em;
	display: inline;
}
.leaders-list {
	text-align: center;
	img {
		height: 150px;
	}
}
.experts {
	padding: 0 140px 6em 140px;
	color: #555A59;
	h1 {
		font-size: 3.250em;
		margin-bottom: 1em;
	}
	h5 {
		font-size: 1.750em;
		font-weight: 700;
	}
	p {
		font-size: 0.875em;
		font-weight: 700;
	}
}
.expert-card {
	margin: 1em 0;
}
.expert-details {
	padding: 3em;
	font-size: 0.625em;
	h4 {
		padding-top: 10px;
		font-size: 1.250em;
		font-weight: 400;
	}
	p {
		font-size: 0.875em;
		margin-bottom: 10px;
		font-weight: 400;
	}
}
.company-values {
	padding: 6em 140px 2em 140px;
	background-color: #01A48F;

	h2 {
		color: white;
		font-weight: 700;
		font-size: 3.250em;
	}
}
.company-values-card {
	width: 95%;
	margin-left: 2.5%;
	background: white;
	padding: 2em;
	margin-bottom: 20px;
	color: #555A59;

	h3 {
		font-size: 1.2em;
	}

	p {
		font-size: 0.8em;
	}
}
.company-values-cont {
	background-color: #01A48F;
}

/**********************************
	SCIENCE PAGE
**********************************/
.science-cont-mobile {
	display: none;
}
.science-cont {
	background: url("../img/sciencebgdesktop.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: inline-block;
	width: 100%;
	text-align: center;
	h1 {
		margin-top: 3em;
		color: white;
		font-size: 4em;
	}
	p {
		color: white;
		font-size: 1.2em;
	}
	.header-menu-list {
		margin-left: 10em;
		list-style-type: none;
		display: inline-block;
		float: left;
		letter-spacing: 1px;
		font-weight: lighter;
		li {
			float: left;
			margin: 0 2em;
			a {
				color: white;
				text-decoration: none;
				font-size: 0.938em;
			}
		}
		.list-item:hover {
			color: rgba(255,255,255,.75);
			padding-bottom: 13px;
			border-bottom: 2px solid rgba(255,255,255,.75);
		}
	}
}
.science-bg {
	padding: 6em 140px;
	text-align: left;
	color: white;
	p {
		font-size: 1.250em;
   		font-weight: 700;
	}
	h1 {
		margin-top: 30px;
		font-size: 4.750em;
    	font-weight: 700;
	}
}
.what-science {
	padding: 6em 140px;
	color: #555A59;

	h2 {
		font-size: 3.250em;
		font-weight: 700;
		margin-bottom: 40px;
	} 

	p {
		font-size: 1.750em;
	}
}
.science-facts {
	padding: 6em 140px;
	background: #01A48F;
	color: rgba(255,255,255,.85);	

	h2 {
		font-size: 3.250em;
		font-weight: 700;
		margin-bottom: 40px;
	}

	div p {
		font-weight: lighter;
	}
}
.facts-answers {
	padding: 0;
	b {
		font-size: 1.750em;
		font-weight: 700;
	}
	p {
		font-size: 1.250em;
		font-weight: 400;
	}
}
.facts-padding {
	padding-left: 20px;
}
.science-articles {
	padding: 6em 140px;
	color: #555A59;

	h2 {
		font-size: 3.250em;
		font-weight: 700;
	}
}
.article-card {
	background-color: white;
}
.science-article-cont {
	background-color: #EAEAEA;
	padding-bottom: 4em;
}
.whitepages-landing {
	padding: 6em;
	color: #555A59;
	h2 {
		font-size: 3em;
	}
	h3 {
		font-size: 1.5em;
		font-weight: bold;
		margin: 3em 0; 
	}
	p {
		font-weight: lighter;
	}
}
.blogpost {
	width: 95%;
	margin-left: 2.5%;

	h5 {
		margin-top: 20px;
		font-size: 1em;
		font-weight: bolder;
		margin-bottom: 0;
	}

	h5 a {
		color: black !important;
	}

	p {
		font-size: 14px;
		color: #555A59;
		font-weight: bold;
	}
	.postimg {
		width: 100%;
	}
}
.product-cont {
	background-color: #74A18E;

	.icon-cont {
		padding: 10em 5em 10em 10em;
		h5 {
			color: white;
			letter-spacing: 0.2px;
			line-height: 40px;
			font-size: 1.750em;
		}
		p {
			color: white;
			font-size: 0.875em;
		}
	}

	.mobileapp {
		width: 80%;
		margin-left: 10%;
	}
}
.iconzemedy {
	-webkit-filter: drop-shadow(-15px 26px 33px rgba(0, 0, 0, 0.4));
  	filter: drop-shadow(-15px 26px 33px rgba(0, 0, 0, 0.4));
  	margin-bottom: 20px;
}
.upcoming-products {
	padding: 6em 140px;
	color: #555A59;
	h2 {
		font-size: 3.250em;
		font-weight: 700;
	}
}
.newsletter-card {
	background: white;
	padding: 2em;
	width: 95%;
	margin-left: 2.5%;
	color: #555A59;
	margin-bottom: 20px;
	text-align: center;
	-webkit-box-shadow: -1px 46px 108px -19px rgba(120,120,120,1);
	-moz-box-shadow: -1px 46px 108px -19px rgba(120,120,120,1);
	box-shadow: -1px 46px 108px -19px rgba(120,120,120,1);

	h5 {
		text-align: left;
		font-size: 1.750em;
		font-weight: 700;
	}
	p {
		margin-top: 20px;
		text-align: left;
		font-size: 1.250em;
	}
}
.logo-asset-card {
	background: white;
	padding: 5em;
	width: 95%;
	margin-left: 2.5%;
	margin-bottom: 20px;
	text-align: center;
	-webkit-box-shadow: -1px 46px 108px -19px rgba(120,120,120,1);
	-moz-box-shadow: -1px 46px 108px -19px rgba(120,120,120,1);
	box-shadow: -1px 46px 108px -19px rgba(120,120,120,1);
}
.logo-asset {
	height: 100px;
}
.contactbg {
	width: 100%;
}
.contactform {
	color: #555A59;
	width: 45%;
	position: absolute;
	top: 100px;
	right: 50px;
	background-color: white;
	-webkit-box-shadow: -1px 46px 108px -19px rgba(120,120,120,1);
	-moz-box-shadow: -1px 46px 108px -19px rgba(120,120,120,1);
	box-shadow: -1px 46px 108px -19px rgba(120,120,120,1);
}
.form-cont {
	padding: 2em;
}
.otherways {
	background: #EAEAEA;
	padding: 2em;

	h5 {
		margin-bottom: 20px;
	}

	li {
		list-style-type: none;
		font-size: 13px;
		margin-bottom: 10px;
	}
}
.news-coverage-cont {
	background: #EAEAEA;
	padding: 3em 0;
}
/**********************************
	PRESS PAGE
**********************************/
.pressimg {
	height: 30px;
	margin-bottom: 20px;
}

/**********************************
	POST PAGE
**********************************/
.post-header {
	background-color: #F9C929;
}
.post-cont {
	background: #F9C929;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: inline-block;
	width: 100%;
	color: #555A59;
	h1 {
		font-size: 4em;
	}
	p {
		margin-top: 8em;
		font-size: 0.625em;

		a {
			color: #555A59;
		}
	}
	.header-menu-list {
		margin-left: 10em;
		list-style-type: none;
		display: inline-block;
		float: left;
		letter-spacing: 1px;
		font-weight: lighter;
		li {
			float: left;
			margin: 0 2em;
			a {
				color: #555A59;
				text-decoration: none;
				font-size: 0.938em;
			}
		}
		.list-item:hover {
			color: white;
			padding-bottom: 13px;
			border-bottom: 2px solid white;
		}
	}
}
.post-title {
	margin: 0 6em;
	font-size: 0.875em;
}
.postimg {
	width: 100%;
}
.thepost-cont {
	padding: 6em;
}
.yellow-hr {
	border: 2px solid #F9C929;
}
.largefont {
	font-size: 4em;
	float: left;
}
.mainpost {
	color: #1D1E1F;
	display: inline-block;
	.article-heading {
		font-weight: bold;
		float: left;
		width: 94%;
		padding-top: 20px;
		div {
			font-size: 3em;
			float: left;
		}
	}
}
.more-articles {
	margin: 0 4em;
	font-size: 1.750em;
}
.sidepost {
	padding-top: 3em;
}
@media screen and (max-width: 500px) {
    .vision {
    	padding: 80px 20px !important;
    	h1 {
    		font-size: 1.75em !important;
    	}
    }
    .what-we-do {
    	padding: 40px 20px !important;
    	h2 {
    		font-size: 1.75em !important;
    		font-weight: 700;
    	}
    	p {
    		font-size: 1.250em;
    	}
    }
    .articles-cont {
    	padding: 40px 20px !important;
    	h2 {
    		font-size: 1.750em !important;
    	}
    }
    .subscribe-newsletter {
    	padding: 40px 20px !important;
    }
    .page-title {
    	padding: 80px 20px !important;
    	h1 {
		font-size: 1.750em !important;
		}
		p {
			font-size: 0.625em !important;
		}
    }
    .how-it-started {
    	padding: 80px 20px !important;
    	h2 {
    		font-size: 1.750em !important;
    	}
    	p {
    		font-size: 0.9em !important;
    	}
    	.side-quote {
    		font-size: 0.6em !important;
    		padding: 20px 0 0 40px !important;
    	}
    }
    .team {
    	padding: 40px 20px !important;
    	h1 {
			font-size: 1.750em !important;
			font-weight: 700;
		}
    }
    .leaders-list {
    	img {
    		height: 80px;
    		float: left;
    	}
    	.leader-details{
    		text-align: left !important;
    		padding-left: 120px;
    		margin-bottom: 30px;
    		h4 {
    			margin-bottom: 0 !important;
    			padding-top: 8px !important;
    		}
    		p {
    			margin-bottom: 0 !important;
    		}
    	}
    }
    .experts {
    	padding: 40px 20px !important;
    }
    .expert-details {
    	padding: 5px 0 0 40px !important;
    	h4 {
    			margin-bottom: 0 !important;
    		}
    		p {
    			margin-bottom: 0 !important;
    		}
    }
    .expertimg {
    	height: 80px;
    }
    .company-values {
    	padding: 40px 20px !important;
    }
    .company-values-card {
    	h3 {
    		font-size: 1.250em !important;
    		font-weight: 700;
    	}
    	p {
    		font-size: 0.875em !important;
    	}
    }
    .what-science {
		padding: 80px 20px !important;
		color: #555A59;
		h2 {
			font-size: 1.250em;
			font-weight: 700;
			margin-bottom: 40px;
		} 

		p {
			font-size: 0.875em;
		}
	}
    .science-facts {
    	padding: 80px 20px !important;

    	h2 {
    		font-size: 1.750em !important;
    	}
    }
    .science-bg {
    	padding: 80px 20px !important;
    }
    .icon-cont {
    	padding: 80px 20px !important;
    	text-align: center;
    }
    footer {
    	padding: 40px 20px !important;
    }
    .upcoming-products {
    	padding: 40px 20px !important;
    	h2 {
    		font-size: 1.750em;
    		font-weight: 700;
    	}
    }
    .subscribe-input {
    	width: 100%;
    	margin-bottom: 10px;
    }
    .science-cont {
    	display: none !important;
    }
    .science-cont-mobile {
		background: url("../img/sciencebgmobile.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: inline-block;
		width: 100%;
		text-align: center;
		h1 {
			margin-top: 1em;
			color: white;
			font-size: 1.750em;
			font-weight: 700;
		}
		p {
			display: none;
		}
		.header-menu-list {
			margin-left: 10em;
			list-style-type: none;
			display: inline-block;
			float: left;
			letter-spacing: 1px;
			font-weight: lighter;
			li {
				float: left;
				margin: 0 2em;
				a {
					color: white;
					text-decoration: none;
					font-size: 0.938em;
				}
			}
		}
	}
	.newsletter-h1 {
		font-size: 1.750em;
	}
	.newsletter-card {
		h5 {
			font-size: 3.250em;
			text-align: center;
			font-weight: 400;
		}
		p {
			font-size: 1.250em;
			font-weight: 700;
			text-align: center;
		}
	}
	.facts-answers {
		padding: 0;
		b {
			font-size: 0.875em;
			font-weight: 700;
		}
		p {
			font-size: 0.875em;
			font-weight: 400;
		}
	}
	.science-articles {
		padding: 40px 20px !important;
		h2 {
			font-size: 1.250em;
			font-weight: 700;
		}
	}
	.facts-padding {
		padding-left: 0 !important;
	}
	.article-card {
		h5 {
			font-size: 1.250em;
		}
	}
	.logo-asset {
	    height: 70px;
	}
	.contactform {
		position: relative;
		width: 95%;
		margin: 2.5%;
		top: 0;
		right: 0;
	}
	.homebg-cont {
		width: 100% !important;
		height: 100% !important;

		h1 {
			font-size: 3.2em !important;
		}
		p {
			font-size: 1.6em !important;
		}
	}
	.pillar-icon {
		height: 120px;
		float: left;
	}
	.pillar-text {
		font-size: 1em !important;
		font-weight: 400 !important;
		margin-left: 30px !important;
		padding-top: 30px !important;
	}
	.list-btn {
		margin-top: 0 !important;
	}
}